<!-- <div class="month-container text-light mt-4" style="gap: 10px;">
    <div class="month-body">
        <div class="month-header bg-dark p-2 ">
            <h1>{{ month.monthNumber | numberToMonth }}, {{ month.monthYear }}</h1>
        </div>
        <div class="month-content">
            <app-table *ngFor="let table of month.tables" [table]="table" [monthYear]="month.monthYear"
                [monthNumber]="month.monthNumber"></app-table>
        </div>
    </div>
    <div class="month-side">
        Calculations
    </div>
</div> -->