<div class="home-container">
    <section class="home-section">
        <div class="container text-center">
          <h1>Welcome to Expense Tracker</h1>
          <p>Track and manage your expenses easily</p>
          <a routerLink="/all-months" class="btn btn-primary btn-lg">Get Started</a>
        </div>
        <img src="https://png.pngtree.com/png-vector/20220712/ourmid/pngtree-mobile-expense-management-abstract-concept-vector-illustration-png-image_5912719.png" style="width: 50%;" alt="">
    
      </section>
    <app-footer></app-footer>      
</div>